APP_NAME=docudots
APP_DEBUG=true
APP_URL=http://localhost:2491
APP_FRONT_URL=http://localhost:2491
CHECK_IP=false
CHECK_LOGIN_DEVICE=false
CHECK_DEVICE=false
REDIRECT_URL=http://nginx
PASSWORD_REQUIRED_CHARACTERS="[a-z],[A-Z],[0-9]"

JWT_ALGORITHM=HS256
JWT_PAYLOAD_MEMBER_PRV=members
JWT_PAYLOAD_INDIVIDUAL_PRV=individual
JWT_PAYLOAD_URL=http://localhost/auth/login
JWT_TTL=3600
JWT_MFA_ATTEMPTS=3600
JWT_BLOCK_ACCOUNT_TTL=3600

REDIS_SERVER=redis
REDIS_PORT=6379
REDIS_DB_ID=1
REDIS_PASSWORD=secretpass

POSTGRES_HOST=postgres
POSTGRES_LOGIN=default
POSTGRES_PASSWORD=secret
POSTGRES_DATABASE=default
POSTGRES_PORT=5432
POSTGRES_SSL_MODE=disable
POSTGRES_TIME_ZONE=UTC

CLICKHOUSE_HOST=clickhouse_server
CLICKHOUSE_LOGIN=root
CLICKHOUSE_PASSWORD=root
CLICKHOUSE_PORT=9000
CLICKHOUSE_DATABASE=default
CLICKHOUSE_READ_TIMEOUT=10s
CLICKHOUSE_WRITE_TIMEOUT=20s

EMAIL_SERVER=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USERNAME=e790dc55f8f26d
EMAIL_PASSWORD=b4295d3391f08a
EMAIL_ENCRYPTION=tls

